/*Used to set paramaters of website and*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Set font of header and placement using display elemnt*/
h1{
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}


/*Set background color of body*/
body {
    background-color: #d9dcd6;
}
/*Max height of image to 200 px*/
img{
max-height: 200px;
}
/*Sets bottom margin and aligns text to center for all h3 elements*/
h3{
    margin-bottom: 10px;
    text-align: center;
}
/*Class header that sests font,padding and color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Sets paramater for navigation bar */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/*Sets paramaters for navigation bar list*/
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Color for all a elementss*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*font for all paragraph elements*/
p {
    font-size: 16px;
}
/*Controls behaviour of backround image on center of website*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Puts image to either right or left*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*Class for box that contains Search engine optimization, Online reputation Management and social media marketing*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Class for box that contains Lead generation,Brand awareness and Cost management*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Class for all properties in search engine optimaztion box*/
.search-engine-optimization {
    margin-bottom: 20px;
    font-size: 36px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Class for all properties in online reputation management box*/
.online-reputation-management {
    margin-bottom: 20px;
    font-size: 36px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Class for all properties in social media marketing box*/
.social-media-marketing {
    margin-bottom: 20px;
    font-size: 36px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets properties for the footer*/
.footer {
    padding: 30px;
    font-size: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}